<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sky.mapper.setmealDishMapper">
    <insert id="addSetmealDish">
        insert into setmeal_dish(setmeal_id, dish_id,name,price,copies)
        <foreach collection="dishList" item="setmeal_dish" open=" values" separator=",">
            <trim prefix="(" suffix=")">
                #{setmeal_dish.setmealId},#{setmeal_dish.dishId},
                #{setmeal_dish.name},#{setmeal_dish.price},#{setmeal_dish.copies}
            </trim>
        </foreach>
    </insert>
    <select id="getSermealDishBysetmeal_id" resultType="com.sky.entity.SetmealDish">

        select *
        from setmeal_dish
        where setmeal_id = #{id}
    </select>
    <delete id="deleteSetmealDishByID">
        delete
        from setmeal_dish
        where setmeal_id =
              #{id}
    </delete>
</mapper>
